.DS_Store
node_modules
!node_modules/leaflet/dist/leaflet.css
!node_modules/leaflet.markercluster/dist/MarkerCluster.css
!node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css

/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
